* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    font-family: 'Inter', sans-serif;
  }

  .one{
    background-color: #140D91;
    height: 100vh;
    width: 100%;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.one p{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
padding-bottom: 107px;
}


  /* UST */
  
  .baslik{
      width: 100%;
      height: auto;
    padding-top: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    color: #140D91;
  }
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px;
    margin-bottom: 0px;
}
.alert{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.alert-style{
    width: 1015px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    margin-top:37px;


}

.type-danger{
  background: #FFF8FA;
  border: 2px solid #EFA8A4;
  color: #451310;
}

.type-success{
  background: #F5FAF4;
  border: 2px solid #AAD1AE;
  color: #162E16;
}
  .textbox{
    width: 1015px;
    height: 65px;
    
    background: #F8F8F8;
    border: 2px solid rgba(20, 13, 145, 0.4);
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    padding: 12px 20px;

color: rgba(20, 13, 145, 0.4);
  }

  .textbox:focus
{
        border: 2px solid #140D91;
        outline-offset: 0px;
    outline: none;
}

.textbox::placeholder{
    color: rgba(20, 13, 145, 0.4);
}

.ekle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 37px;
}

.submit{
    background-color: #140D91;
    width: 250px;
    height: 72px;
    border: none;
    border-radius: 4px;
    color: white;
    margin:0px auto;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
  
}

/* ALT */

.alt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1015px;
    height: auto;
    border: 2px solid rgba(20, 13, 145, 0.4);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 62px;
}

ul{
    list-style: none;
}
.list-group{
    width: 90%;
    margin:54px;
    margin-bottom: 0px;
}
.list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;

    background: rgba(20, 13, 145, 0.4);
    border: 2px solid rgba(20, 13, 145, 0.4);
    border-radius: 4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-left: 22px;
    margin-bottom: 20px;

/* identical to box height */


color: rgba(20, 13, 145, 0.6);
}

img{
   padding-right:22px;
   cursor: pointer;
}

.sil{
    margin-bottom: 20px;
     width: 300px;
}
